<header>


    <a href="{{ site.url }}"><h1 class="">{{ site.name }}.</h1></a>

    <h2 class="" id="reveal" >Front End Web Developer and Designer</h2>

    <ul class="">
      <li style="font-family: 'Inconsolata' "><a href="mailto:jake.ninness?subject=Hi">Email Me</a></li>

    </ul>


<div id="work" class="">
  <h1>Some of My Work</h1>  
  <ul class="posts">
    {% for post in site.posts %}
      <li >
        <a href="{{ post.url }}"><span class="underline">{{ post.title }}</span> </a>

           <br>({{ post.job }})
        <!-- <section class="post-image" id="{{ post.image }}" style=""><img src="{{ post.image }}" alt="" /></section> -->
        <!-- <br>
        <span>{{ post.dates }}</span>
        <br> -->
        <!--<a href="{{ post.url }}">&#8627;</a> -->
      </li>
    {% endfor %}
  </ul>
</div>




</header>
