/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */

$body-colour: #FFFFFF;
$main-font: #2B2E35;

* {
    margin: 0;
}
body,
html {
    max-height: 100%;
    max-width: 100%;
}
html {
    box-sizing: border-box;
}
*,
*:after,
*:before {
    box-sizing: inherit;
}
body {
    background-color: $body-colour;
    font: 1rem/150% Helvetica, Arial, sans-serif;
    color: $main-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inconsolata', monospace;

}
h1 {
    margin-bottom: 1em;

}
p {
    margin: 1em 0;
    font-family: 'Inconsolata', 'Noto Serif', serif;

}

.date {
  font-family: 'Inconsolata', monospace;
}

.underline {
  text-decoration: underline;
}

li {
  font-family: 'Inconsolata', 'Noto Serif', serif;

}
a {
    color: $main-font;
    font-family: 'Inconsolata', 'Noto Serif', serif;
    text-decoration: none;

}
a:hover {
    color: #000;
}
a:visited {
    // color: #a0a;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}
/*****************************************************************************/
/*
  /* Home
  /*
  /*****************************************************************************/





/*****************************************************************************/
/*
  /* Site
  /*
  /*****************************************************************************/




/*****************************************************************************/
/*
  /* Posts
  /*
  /*****************************************************************************/
/* standard */
.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 0.4em;
}
.post ol,
.post ul {
    margin-left: 1.35em;
}
.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 0.2em;
}
.post pre code {
    border: none;
}
/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}
.post pre.terminal code {
    background-color: #333;
}
