
// ***Header styles***


header {

  // margin-top: 15%;

  .updating {
    text-align: center;
    margin-top: 60px;

    font-size: 2rem;

    border: 1px dashed ;
  }

  .goth {
    font-family: 'Fraktur BT';
    color: #000;
  }

  h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 2.8rem;
    // color: rgb(235, 235, 235);
    // opacity: 0.2;
  }

  h2 {
    font-weight: 200;
    text-decoration: underline;
  }

  ul {
    list-style: none;
    margin-top: 30px;
    padding-left: 0;

    li {
      margin-top: 5px;

      a {


        &:hover {
          // text-decoration: line-through;
        }
      }
    }
  }
}
