// ***Layout Styles***

$half-padding: 50px 20px;

body {
  background-image: url("../assets/images/echo-park.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-container {

  header {
    width: 50%;
    padding: $half-padding;
    float: left;
  }

  .main-content {
    width: 50%;
    padding: $half-padding;
    float: right;
  }

  @media (max-width: 600px) {
    header,
    .main-content {
      width: 100%;
    }
  }
}
