// ***Layout Styles***

$half-padding: 10px 20px;

body {
  // background-image: url("../assets/images/echo-park.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #C5C5C5;
}

// #square-purp {
//   background-color: #7D467E;
//   width: 300px;
//   height: 500px;
// }

// #square-green {
//   background-color: #1E6B14;
//   width: 150px;
//   height: 250px;
//   top: 50%;
//   left: 20%;
// }

.square {
  position: fixed;
  z-index: -10;
}

.hidden {
  display: none;
}


.post-wrapper {
  display: flex;
  flex-direction: column;

  .post-container {
    margin-bottom: 2rem;
  }

  .post-pagination {
    border-top: 2px solid $main-font;
    padding-top: 1rem;
    width: 70%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    font-weight: bold;

    .next {
      margin-left: auto;
    }
  }
}



.site-container {

  display: flex;

  header {
    // width: 50%;
    padding: $half-padding;
    // float: left;
    flex: 0 0 26%;
  }

  .main-content {
    display: flex;
    flex: 1 1 auto; 
    background: #eee;
    // width: 50%;
    padding: $half-padding;
    padding-top: 50px;
    // float: right;
    // height: 100%;

  }

  @media (max-width: 600px) {
    header,
    .main-content {
      width: 100%;
      padding-top: 0;
    }
  }

  .work-popup-outer {
    position: absolute;
    width: 60%;
    padding: 20px;
    height: auto;
    background-color: #C5C5C5;
    margin: 0 auto;
    right: 0;
    left: 0;
    border: 2px solid rgb(196, 46, 13);

    top: 8%;
    // transform: translateY(-50%);
    z-index: 10;

    .close-work {
      font-style: italic;
      font-size: 0.8rem;
      position: absolute;
      top: 5px;
      right: 20px;
      cursor: pointer;
    }

    .post-container {
      margin: 0 auto;
      width: 90%;
      overflow: scroll;
      max-height: 400px;

      a {
        cursor: pointer;
      }
    }

    @media screen and (max-width: 600px) {
      width: 95%;
      padding: 20px 5px;
      top: 5%;

      .close-work {
        font-size: 1rem;
        top: 5px;
        right: 10px;
      }

      .post-container {
        width: 95%;
      }
    }
  }
}
