<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Jake Ninness">
    <meta name="description" content="My Personal Portfolio Website">

    <link rel="shortcut icon" type="image/png" href="favicon.png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Noto+Serif:400,400i,700i" rel="stylesheet">
    <link href="http://allfont.net/allfont.css?fonts=fraktur-bt" rel="stylesheet" type="text/css" />



</head>

<body>
<div id="square-purp" class="square"></div>
<div id="square-green" class="square"></div>

<div class="site-container cf">
  {% include header.html %}





  <div class="main-content cf">
    {{ content }}
  </div>



  {% include footer.html %}

</div>


{% include analytics.html %}

<script src="https://code.jquery.com/jquery-1.7.1.min.js" integrity="sha256-iBcUE/x23aI6syuqF7EeT/+JFBxjPs5zeFJEXxumwb0=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="http://www.cornify.com/js/cornify.js"></script>
<script>

  const pressed = [];
  const code = 'jakeiscool';

  window.addEventListener('keyup', (e) => {
    console.log(e.key);
    pressed.push(e.key);
    pressed.splice(-code.length -1, pressed.length - code.length);

    if(pressed.join('').includes(code)) {
      console.log('Ding Ding');
      cornify_add();
    }
    console.log(pressed);
  })

</script>
</body>

</html>
